.notification{
  width: 50%;
  margin: 0 auto;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}



.collapsible1 {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible1:hover {
  background-color: #555;
}


.content {
  display: none;
  overflow: hidden;
  padding: 18px;
  left:0px;
}