<!DOCTYPE html>
<head>
  <title id="title">{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/register.css">
  <link rel="stylesheet" href="/static/collapse.css">
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="/static/js/ac.js"></script>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Varela+Round" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<body>
<div class="topnav">
  {% if 'user' in session %}
    <div class="navigation_man">
      <a href="/">{{session['user']}}'s Profile </a>
      <a id="inbox" href="/inbox">Inbox</a>
      <a id="logout_button" href="/logout">Logout</a>
    </div>
  {% else %}
    <div class="header_man header">{% block not_yet %}{% endblock %}</div>
  {% endif %}
</div>
{% block form %}{% endblock %}
</body>
