{% extends "log_reg_temp.html" %}
{% block title %}Inbox{% endblock %}
{% block form %}
<script src="/static/js/socket.js"></script>
<br><br><h1 id="current_time" class="white" style="text-align:right;margin-right: 50px;">Time</h1><br><br>
<h1 id="users_online" class="white" style="text-align:center;">1 User(s) Online</h1><br><br>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="midsdle-panel" style="width: 50%; margin-left: 25%;margin-bottom: 100px;">
<form action="" method="POST">
    <button type="button" id="create_party" name="create_party" style="text-align: center;">Create party</button>
    <input type="text" name="user_to_invite" id="user_to_invite" placeholder="Invite User" autocomplete="off">
</form>
</div>
{% endblock %}